

.footer{
    display: grid;
    grid-template-columns: 250px 150px 380px 280px;
    grid-template-rows: 250px 50px;
    background-color: rgba(0, 0, 0, 0.832);
    height: 300px;
    justify-items: center;
}
.footer__logo{
    width: 90px;
    padding-top: 38px;
}
.footer__menu{
    padding-top: 25px;
    color: #ffffffe4;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 0.7em;
}
.footer__menu-breadcrumbs{
    color: #ffffffdb;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 0.6em;
    line-height: 30px;
}
.breadcrumbs-email{
    font-size: 1em;
}
.footer__menu-breadcrumbs:hover{
    text-decoration: underline;
}
.footer__menu-meta{
    color: #ffffffdb;
    font-family: 'Roboto', sans-serif;
    font-size: 0.6em;
    margin-top: 20px;
    line-height: 15px;
}
.telefon-sms{
    margin-top: 35px;
    line-height: 40px;
}
.icon{
    width: 10px;
    margin-right: 8px;
}
.icon-half-size{
    width: 7px;
}
.footer__menu-socials{
    display: flex;
    gap: 25px;
}
.facebook{
    width: 6px;
}
.twitter{
    width: 13px;
}
.linked{
    width: 11px;
}
.pinterest{
    width: 8px;
}
.row{
    font-family: 'Open Sans', sans-serif;
    color: rgba(200, 200, 200, 0.5);
    font-size: 0.5em;
    grid-column: 1/5;
    margin-left: 120px;
    border-top: 0.5px solid rgba(200, 200, 200, 0.27);
    width: 1256px;
    text-align: center;
}
.row__copy{
    margin-top: 21px;
}
