.container{
    display: grid;
    grid-template-columns: 829px 400px;
    grid-template-rows: 60px 300px;
    height: 300px;
}

header{
    text-align: center;
    height: 60px;
    background-color: rgba(169, 169, 169, 0.356);
    grid-column: 1/3;
} 



main{
    background-color: antiquewhite;
    grid-row: 2;
}

.title {
    display: grid;
    justify-content: center;
    margin: 10px;

}


.gridcontainer{ 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45%,45%));
    grid-template-rows: 150px;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
}
.cell {
    background-color: rgba(239, 193, 137, 0.512);
    text-align: center;
}
.cell3{
    grid-column: 1/3;
}



aside{
    background-color: rgba(127, 193, 172, 0.644);
}



.gridcontainer2{ 
    display: grid;
    background-color: #adc4ced8;
    grid-template-columns: repeat(4, 23%);
    height: 90px;
    justify-content: space-around;
    align-items: center;
    grid-column: 1/3;
}

.gridp{
    background-color: aliceblue;
    height: 60px;
    text-align: center;
}


@media screen and (min-width: 480px) and (max-width: 760px){
    .container{
        grid-template-columns: 295px 200px;
    }
    .gridcontainer{
        max-width: 760px;
    }
    .gridcontainer2{
        max-width: 760px;
    }
    header{
        max-width: 760px;
    }
    main{
        max-width: 760px;
    }
    aside{
        max-width: 760px;
    }
}
@media screen and (min-width: 760px) and (max-width: 960px){
    .container{
        grid-template-columns: 500px 283px;
    }
    .gridcontainer{
        max-width: 960px;
    }
    .gridcontainer2{
        max-width: 960px;
    }
    header{
        max-width: 960px;
    }
    main{
        max-width: 960px;
    }
    aside{
        max-width: 960px;
    }
}
@media screen and (min-width: 960px) and (max-width: 1200px){
    .container{
        grid-template-columns: 639px 400px;
    }
    .gridcontainer{
        max-width: 1200px;
    }
    .gridcontainer2{
        max-width: 1200px;
    }
    header{
        max-width: 1200px;
    }
    main{
        max-width: 1200px;
    }
    aside{
        max-width: 1200px;
    }
}
