.container{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 15% ;
}


header{
    text-align: center;
    background-color: rgba(169, 169, 169, 0.356);
    font-size: 1em;
    grid-column: 1/3;
} 



main{
    background-color: antiquewhite;
    grid-row: 2;
}
.title {
    display: grid;
    justify-content: center;
    margin: 10px;
    font-size: 1em ;
}



.gridcontainer{ 
    display: grid;
    grid-template-columns: 45% 45% ;
    grid-template-rows: 70% 0.5%;
    justify-content: space-around;
    align-items: center;
    height: 170px;
}
.cell {
    background-color: rgba(239, 193, 137, 0.512);
    font-size: 1em;
    text-align: center;
}
.cell3{
    grid-column: 1/3;
}



aside{
    display: grid;
    background-color: rgba(127, 193, 172, 0.644);
    justify-content: center;
    font-size: 0.9em;
}



.gridcontainer2{ 
    display: grid;
    background-color: #adc4ced8;
    grid-template-columns: repeat(4, 23%);
    height: 75px;
    justify-content: space-around;
    align-items: center;
    grid-column: 1/3;
}

.gridp{
    background-color: aliceblue;
    height: 60px;
    text-align: center;
    font-size: 1em;
}