@font-face {
    font-family: 'Intro';
    src: url(./font/IntroDemo-BlackCAPS.otf);
}


.header{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.container{
    display: flex;
    align-items: center;
    margin-left: 40px;
}
.container__icon{
    width: 30px;
    height: 30px;
}
.container__caption{
    font-size: 1.2vw;
    font-family: 'Intro';
    padding-left: 5px;
}
.btn{
    width: 80px;
    height: 25px;
    border-radius: 20px;
    background-color: #5222D0;
    border-color: #5222D0;
    color: aliceblue;
    font-size: 0.7vw;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    margin-right: 60px;
    font-family: 'Intro';
}
.btn__pic{
    width: 9px;
}




.subject{
    font-family: 'Intro';
    margin-left: 75px;
    margin-top: 50px;
    font-size: 2.5em;
}
.gridcontainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  200px 150px 130px 80px;
    margin-left: 80px;
    margin-top: 40px;
}
.gridcontainer__img{
    width: 250px;
}
.gridcontainer__title{
    font-family: 'Intro';
    font-size: 1em;
}
.gridcontainer__title_white{
    color: azure;
    font-family: 'Intro';
}
.gridcontainer__text{
    font-family: 'Roboto Slab', serif;
    font-size: 1vw;
}
.gridbox{
    display: grid;
    grid-template-rows: 29px 55px;
    grid-column: 3;
    background-color: #EC615B;
    width: 235px;
    padding-left: 20px;
}
.email{
    font-size: 1vw;
    height: 25px;
    border: none;
    width: 200px;
}
.btn-subscribe{
    width: 80px;
    height: 20px;
    border-radius: 20px;
    background-color: #5222D0;
    border-color: #5222D0;
    color: aliceblue;
    font-size: 0.6vw;
    font-family: 'Intro';
}



.link{
    margin-left: 65px;
}
.link__all{
    color: black;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    padding: 15px;
    font-size: 1.2vw;
}