#sale{
    display: grid;
    background-color: black;
    color: aliceblue;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 30px;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: lighter;
}
.gridcontainer{
    display: grid;
    background-color: rgba(153, 107, 96, 1);
    height: 650px;
    grid-template-columns: repeat(3, 500px);
    justify-content: space-between;
    justify-items: center;
    padding: 30px;
    background-image: url(./images/Rectangle.png);
    background-repeat: no-repeat;
    background-size: 760px 750px;
}


.menu{
    text-decoration: none;
    padding: 30px;
    color: azure;
    font-family: 'Roboto', sans-serif;
}
.menu:hover {
    text-decoration: underline;
}


#title{
    color: azure;
    font-size: 45px;
    height: 10px;
    font-weight: lighter;
}


.container{
    grid-column: 2/4;
    margin: 200px;
}
h1{
    font-family: 'Liberation Serif';
    color: azure;
    font-size: 70px;
    font-weight: lighter;
}
p{
    color: #FFFFFF;
}
.button{ 
    position: relative;
    background-color: rgba(153, 107, 96, 1);
    width: 150px;
    height: 40px;
    border: 1px solid #FFFFFF;
    font-family: 'Roboto', sans-serif; 
    font-weight: bold;
    font-size: 13px;
    margin: 30px;
    right: 30px;
}


.gridcontainer2{
    display: grid;
    grid-template-columns: 33% 33% 1fr;
    grid-template-rows: 75px 200px;
}
.text{
    color: black;
    font-weight: bold;
    text-align: center;
    margin-top: 70px;
}
.fontfam{
    font-family: 'Roboto', sans-serif; 
    font-size: 18px;
}
.fontfam1{
    font-family: 'Playfair Display', serif;
    font-size: 35px;
}
.fontfam2{
    font-family: 'Berkshire Swash', cursive;
    font-size: 30px;
    align-self: center;
}
.fontfam3{
    font-size: 40px;
    font-family: 'Uchen', serif;
}



hr{
    width: 1400px;
}
#title2{
    color: black;
    text-align: center;
    font-size: 55px;
    margin-top: 90px;
}
#text2{
    color: black;
    text-align: center;
    font-size: 12px;
}


.gridcontainer3{
    display: grid;
    grid-template-columns: 20% 20% 20%;
    grid-template-rows: 1fr 50px 80px;
    margin-top: 65px;
    justify-content: space-evenly;
}
img{
    width: 300px;
}
h2{
    font-family: 'Liberation Serif';
    text-align: center;
}
.text3{
    color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.submit{
    background-color: black;
    color: #FFFFFF;
    left: 45px;
}