.container{
    display: grid;
    grid-template-columns: 829px 400px;
    grid-template-rows: 60px 300px;
    height: 300px;
}


header{
    text-align: center;
    height: 60px;
    background-color: rgba(169, 169, 169, 0.356);
    grid-column: 1/3;
} 



main{
    background-color: antiquewhite;
    grid-row: 2;
}

.title {
    display: grid;
    justify-content: center;
    margin: 10px;

}


.gridcontainer{ 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45%,45%));
    grid-template-rows: 150px;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
}
.cell {
    background-color: rgba(239, 193, 137, 0.512);
    font-size: 1vw;
}
.cell3{
    grid-column: 1/3;
}



aside{
    display: grid;
    background-color: rgba(127, 193, 172, 0.644);
    justify-content: center;
}



.gridcontainer2{ 
    display: grid;
    background-color: #adc4ced8;
    grid-template-columns: repeat(4, 23%);
    height: 90px;
    justify-content: space-around;
    align-items: center;
    grid-column: 1/3;
}

.gridp{
    background-color: aliceblue;
    height: 60px;
    text-align: center;
}